@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply h-[10px] w-[10px];
  }

  ::-webkit-scrollbar-track {
    @apply shadow-inner shadow-purple bg-purple_hover;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-purple rounded-full;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-purple;
  }

  input[type="checkbox"] {
    @apply appearance-none w-[14px] h-[14px] border-[1px] border-purple cursor-pointer rounded-[2px] hover:border-purple_hover transition-all duration-200;
  }

  input[type="checkbox"]:checked {
    @apply bg-purple hover:bg-purple_hover transition-all duration-200;
  }

  input[type="checkbox"]::before {
    @apply block translate-x-[5%] translate-y-[-30%] opacity-0 transition-all duration-200;
    content: url("../public/assets/icon-check.svg");
  }

  input[type="checkbox"]:checked::before {
    @apply opacity-100;
  }

  h1 {
    @apply text-[24px] font-bold leading-[30px];
  }

  h2 {
    @apply text-[18px] font-bold leading-[23px];
  }

  h3 {
    @apply text-[15px] font-bold leading-[19px];
  }

  h4 {
    @apply text-[12px] font-bold leading-[15px] tracking-[2.4px];
  }

  .p-lg {
    @apply text-[13px] font-medium leading-[23px];
  }

  .p-md {
    @apply text-[12px] font-bold leading-[15px];
  }
}

@layer components {
  .btn {
    @apply font-bold transition-all duration-200 cursor-pointer;
  }

  .btn:disabled {
    @apply opacity-20 cursor-default;
  }

  .btn-primary-lg {
    @apply text-[15px] text-white bg-purple py-[14px] rounded-3xl;
  }

  .btn-primary-lg:enabled:hover {
    @apply bg-purple_hover;
  }

  .btn-primary-sm {
    @apply text-[13px] leading-[23px] text-white bg-purple px-[69.5px] py-[9px] rounded-[20px];
  }

  .btn-primary-sm:hover {
    @apply bg-purple_hover;
  }

  .btn-secondary {
    @apply text-[13px] leading-[23px] text-purple bg-purple/10 px-[69.5px] py-[9px] rounded-[20px];
  }

  .btn-secondary:hover {
    @apply bg-purple/20;
  }

  .btn-destructive {
    @apply text-[13px] leading-[23px] text-white bg-red px-[69.5px] py-[9px] rounded-[20px];
  }

  .btn-destructive:hover {
    @apply bg-red_hover;
  }

  .text-gradient {
    background-clip: text;
    color: transparent; /* Ukrywa oryginalny kolor tekstu */
    background-image: linear-gradient(to right, #a8a4ff, #635fc7);
  }
}
